<div class="cart">
    {{#if productsInCart}}
    <h3>Productos del carrito</h3>
    <div class="products">
        {{#each cart.products}}
        <div class="card" style="width: 18rem;">
            <img src="/images/{{this.product.thumbnail}}" class="card-img-top" alt="{{this.product.title}}">
            <div class="card-body">
                <h5 class="card-title">{{this.product.title}}</h5>
                <p class="card-text">{{this.product.description}}</p>
                <p class="card-text">Precio: {{this.product.price}}</p>
                <p class="card-text">Cantidad: {{this.quantity}}</p>
            </div>
        </div>
        {{/each}}
    </div>
    <div class="button">
        <button id="purchase" class="btn btn-success">Comprar</button>
    </div>
    {{else}}
    <h3>No hay productos en el carrito</h3>
    <div class="button">
        <a href="/products"><button class="btn btn-primary">Ver productos</button></a>
    </div>
    {{/if}}
</div>
<script>
    document.querySelector("#purchase").onclick = async (e) => {
        try {
            const cid = "{{userCart}}";
            Toastify({
                text: "Compra realizada con éxito",
                duration: 4000,
                newWindow: true,
                close: true,
                gravity: "top",
                position: "right",
                stopOnFocus: true,
                style: {
                    background: "green",
                    borderRadius: "10px",
                    fontWeight: "600",
                }
            }).showToast();
            document.location.href = `/carts/${cid}/purchase`;
        } catch (error) {
            console.error(error);
        };
    };
</script>