<div class="user">
    <h2>Bienvenido, {{user.first_name}} {{user.last_name}}</h2>
    <p><b>Email:</b> {{user.email}}</p>
    <p><b>Rol:</b> {{user.role}}</p>
    <a href="/carts/{{user.cart}}"><button class="btn btn-success">Ver carrito</button></a>
    <a href="/session/logout"><button class="btn btn-danger">Cerrar sesión</button></a>
</div>