<div class="user">
    <h2>Bienvenido, {{user.first_name}} {{user.last_name}}</h2>
    <img src="{{user.avatar}}" alt="{{user.first_name}}{{user.last_name}}-avatar">
    <p><b>Email:</b> {{user.email}}</p>
    <p><b>Rol:</b> {{user.role}}</p>
    {{#if admin}}
    <a href="/users"><button class="btn btn-primary">Ver usuarios</button></a>
    {{else}}
    <a href="/carts/{{user.cart}}"><button class="btn btn-primary">Ver carrito</button></a>
    {{/if}}
    <a href="/session/logout"><button class="btn btn-danger">Cerrar sesión</button></a>
</div>