<div class="detail">
    <img src="/images/{{product.thumbnail}}" alt="{{product.title}}">
    <div class="card-body">
        <h2>{{product.title}}</h2>
        <p class="card-text">{{product.description}}</p>
        <p class="card-text"><b>Categoría: </b>{{product.category}}</p>
        <p class="card-text"><b>Precio: </b>{{product.price}}</p>
        <p class="card-text"><b>Código: </b>{{product._id}}</p>
        <p class="card-text"><b>Stock: </b>{{product.stock}}</p>
        <button id="addToCart" class="btn btn-success">Agregar al carrito</button>
    </div>
</div>
<script>
    document.querySelector("#addToCart").onclick = async (e) => {
        try {
            const cid = "655bdcf9db12be4cc7e741d0";
            const pid = "{{product._id}}";
            await fetch(`/carts/${cid}/products/${pid}`, { 
                method: "POST",
            })
            .then(() => {
                Toastify({
                    text: "Producto agregado al carrito con éxito",
                    duration: 4000,
                    newWindow: true,
                    close: true,
                    gravity: "top",
                    position: "right",
                    stopOnFocus: true,
                    style: {
                        background: "green",
                        borderRadius: "10px",
                        fontWeight: "600",
                    }
                }).showToast();
                document.location.href = "/products";
            })
        } catch (error) {
            console.error(error);
        };
    };
</script>