<div class="detail">
    <img src="/images/{{product.thumbnail}}" alt="{{product.title}}">
    <div class="card-body">
        <h2>{{product.title}}</h2>
        <p class="card-text">{{product.description}}</p>
        <p class="card-text"><b>Categoría: </b>{{product.category}}</p>
        <p class="card-text"><b>Precio: </b>{{product.price}}</p>
        <p class="card-text"><b>Código: </b>{{product._id}}</p>
        <p class="card-text"><b>Stock: </b>{{product.stock}}</p>
        <button id="addToCart" class="btn btn-success">Agregar al carrito</button>
    </div>
</div>
<script>
    document.querySelector("#addToCart").onclick = async (e) => {
        try {
            const cid = "{{cart}}";
            const pid = "{{product._id}}";
            await fetch(`/carts/${cid}/products/${pid}`, { 
                method: "POST"
            });
            document.location.href = `/carts/${cid}`;
        } catch (error) {
            console.error(error);
        };
    };
</script>