<div class="detail">
    <img src="/images/{{product.thumbnail}}" alt="{{product.title}}">
    <div class="card-body">
        <h2>{{product.title}}</h2>
        <p class="card-text">{{product.description}}</p>
        <p class="card-text"><b>Categoría: </b>{{product.category}}</p>
        <p class="card-text"><b>Precio: </b>{{product.price}}</p>
        <p class="card-text"><b>Código: </b>{{product._id}}</p>
        <p class="card-text"><b>Stock: </b>{{product.stock}}</p>
        <button id="delete" class="btn btn-danger">Eliminar</button>
    </div>
</div>
<script>
    document.querySelector("#delete").onclick = async (e) => {
        try {
            const id = "{{ product._id }}";
            await fetch(`/products/${id}`, { 
                method: "DELETE",
            })
            .then(() => {
                Toastify({
                    text: "Producto eliminado con éxito",
                    duration: 4000,
                    newWindow: true,
                    close: true,
                    gravity: "top",
                    position: "right",
                    stopOnFocus: true,
                    style: {
                        background: "green",
                        borderRadius: "10px",
                        fontWeight: "600",
                    }
                }).showToast();
                document.location.href = "/products";
            })
        } catch (error) {
            Toastify({
                text: "No se pudo eliminar",
                duration: 4000,
                newWindow: true,
                close: true,
                gravity: "top",
                position: "right",
                stopOnFocus: true,
                style: {
                    background: "red",
                    borderRadius: "10px",
                    fontWeight: "600",
                }
            }).showToast();
            console.log(error);
        };
    };
</script>