<div class="table-responsive container my-2">
    <h2 class="text-center py-4">Lista de Productos</h2>
    <table class="table table-bordered table-striped table-hover text-center">
        <thead>
            <tr>
                <th>Producto</th>
                <th>Descripción</th>
                <th>Categoría</th>
                <th>Precio</th>
                <th>Código</th>
                <th>Stock</th>
            </tr>
        </thead>
        <tbody>
            {{#each allProducts}}
                <tr>
                    <td class="text-start">{{this.title}}</td>
                    <td class="text-start">{{this.description}}</td>
                    <td>{{this.category}}</td>
                    <td>{{this.price}}</td>
                    <td>{{this.code}}</td>
                    <td>{{this.stock}}</td>
                </tr>
            {{/each}}
        </tbody>
    </table>
</div>