<div class="ticket">
    <h2>¡Muchas gracias por tu compra!</h2>
    <br>
    <p><b>N° de compra:</b> {{ticket.code}}</p>
    <p><b>Usuario:</b> {{ticket.purchaser}}</p>
    <p><b>Fecha:</b> {{ticket.purchase_datetime}}</p>
    <p><b>Total:</b> {{ticket.amount}}</p>
    <h3>Productos comprados</h3>
    <div class="products">
        {{#each ticket.products}}
        <div class="card" style="width: 18rem;">
            <div class="card-body">
                <h5 class="card-title">{{this.product.title}}</h5>
                <p class="card-text">Precio: {{this.product.price}}</p>
                <p class="card-text">Cantidad: {{this.quantity}}</p>
            </div>
        </div>
        {{/each}}
    </div>
    {{#if notPurchased}}
    <h3>Productos sin stock</h3>
    <div class="products">
        {{#each ticket.rejected_products}}
        <div class="card" style="width: 18rem;">
            <div class="card-body">
                <h5 class="card-title">{{this.product.title}}</h5>
                <p class="card-text">Precio: {{this.product.price}}</p>
                <p class="card-text">Cantidad: {{this.quantity}}</p>
            </div>
        </div>
        {{/each}}
    </div>
    {{/if}}
</div>